In [2]:
# Import libraries
import pandas as pd
import requests
import re
from shapely.geometry import Point
import geopandas as gpd   # conda install -c conda-forge geopandas

In [4]:
# Acquistion of data

In [ ]:
#Bicimad

In [10]:
df_bicimad_original = pd.read_csv('../data/bicimad_stations.csv')
df_bicimad = df_bicimad_original [['name', 'address', 'geometry_coordinates']]

def lat (x):
    b= x.split(',')
    c= b[0].replace('[','')
    d= float(c)
    return d
    
def long (x):
    b= x.split(',')
    c= b[1].replace(']','')
    d= float(c)
    return d

In [12]:
df_bicimad['Latitude'] = df_bicimad.apply(lambda x: lat(x['geometry_coordinates']),axis=1)
df_bicimad['Longitude'] = df_bicimad.apply(lambda x: long(x['geometry_coordinates']),axis=1)
df_bicimad

/Users/Izaskun/miniconda3/envs/bicimad/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/Izaskun/miniconda3/envs/bicimad/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,name,address,geometry_coordinates,Latitude,Longitude
0,Puerta del Sol A,Puerta del Sol nº 1,"[-3.7018341, 40.4172137]",-3.701834,40.417214
1,Puerta del Sol B,Puerta del Sol nº 1,"[-3.701602938060457, 40.41731271011562]",-3.701603,40.417313
2,Miguel Moya,Calle Miguel Moya nº 1,"[-3.7058415, 40.4205886]",-3.705842,40.420589
3,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,"[-3.7069171, 40.4302937]",-3.706917,40.430294
4,Malasaña,Calle Manuela Malasaña nº 5,"[-3.7025875, 40.4285524]",-3.702587,40.428552
...,...,...,...,...,...
259,Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,"[-3.72699, 40.44375]",-3.726990,40.443750
260,Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,"[-3.72693, 40.44342]",-3.726930,40.443420
261,Facultad Biología,Calle José Antonio Novais frente al nº 12,"[-3.7272945, 40.4483322]",-3.727295,40.448332
262,Facultad Derecho,Avenida Complutense nº 23,"[-3.72937, 40.45109]",-3.729370,40.451090
263,Zurbano,Calle Zurbano nº 90,"[-3.69281, 40.43837]",-3.692810,40.438370

In [ ]:
#Centros Deportivos

In [22]:
url = 'https://datos.madrid.es/egob/catalogo/212808-0-espacio-deporte.json'
r= requests.get(url).json()
df = pd.json_normalize(r['@graph'])
df_centros_deportivos= df [['title', 'address.street-address', 'location.latitude', 'location.longitude' ]]
df_centros_deportivos

,title,address.street-address,location.latitude,location.longitude
0,Campo de Golf del Centro Nacional de Golf,CALLE ARROYO DEL MONTE 5,40.485508,-3.735279
1,Campo de Golf del Club de Golf Olivar de la Hi...,CALLE VIA DE DUBLIN 12,40.465351,-3.611293
2,Campos de Fútbol Ernesto Cotorruelo,CALLE VIA LUSITANA 5,40.381231,-3.724179
3,Centro Comercial Dreams - Palacio Municipal de...,CALLE SILVANO 77,40.462913,-3.635734
4,Centro de Alto Rendimiento del Consejo Superio...,CALLE MARTIN FIERRO 5,40.436812,-3.731957
...,...,...,...,...
606,Piscina SAGE Fitness,CALLE ESCALONA 59,40.397182,-3.761105
607,Pista de Patinaje Paco de Lucía,AUDITORIO PACO DE LUCIA,40.385278,-3.764155
608,Pista de petanca Centro de Mayores La Vaguada,AVENIDA MONFORTE DE LEMOS 36,40.479033,-3.708264
609,Polideportivo Antonio Magariños,CALLE SERRANO 129,40.442522,-3.686096
610,WiZink Center,"CALLE JORGE JUAN 99 Avenida de Felipe II, s/n",40.423284,-3.672104

In [ ]:
#Input

In [18]:
centro = input("Enter a centro: ")
centro_ejemplo= "Campo de Golf del Centro Nacional de Golf"

Enter a centro: Campo de Golf del Centro Nacional de Golf

In [19]:
# Distance function

In [20]:
def distance_meters(lat_start, long_start, lat_finish, long_finish):
    # return the distance in metres between to latitude/longitude pair point in degrees (i.e.: 40.392436 / -3.6994487)
    start = to_mercator(lat_start, long_start)
    finish = to_mercator(lat_finish, long_finish)
    return start.distance(finish)

In [31]:

#def row_filter (df, cat_var, cat_values, sort_by):
#    df = df[ df [cat_var] .isin(cat_values) ].sort_values(by=sort_by, ascending=False)
# mask = df1['player_country'].isin(['Spain'])

In [33]:
df_ti= df_centros_deportivos [df_centros_deportivos['location.latitude'].isin(['Campo de Golf del Centro Nacional de Golf'])]

In [34]:
df_ti

Empty DataFrame
Columns: [title, address.street-address, location.latitude, location.longitude]
Index: []